.cardDetail{
    width: 80%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.img-fluid{
    padding-top:10%;
    padding-bottom: 10%;
    padding-left: 5%;
}

.countDetail{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.imgDetail{
    width: 90%;
    height: 100%;
    object-fit: contain;
}
