.cardDetail{
    width: 70%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.img-fluid{
    padding-top:10%;
    padding-bottom: 10%;
}

.countDetail{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.imgDetailContainer{
    height: 700px;
}

.imgDetail{
    width: 90%;
    height: 100%;
    object-fit: contain;
}

.detailContainer{
    margin-top: 150px;
}